@import 'nav.css';


.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: end;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}